
  .MainContainer
  {
    width: auto;
    height: auto;
    
  }
  .SecondContainer
  {
    width: auto;
    height: 100%;
    width: 70%;
    display: grid;
    grid-template-columns: 40% 60%;
  }
  .video-container{
    position: absolute;
    left: 0;
    width: 100%;
    overflow: visible;
  }
  .centered  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .text-box{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
   align-items: center;
    color: #fff;
    display: flex;
    justify-content: center;
  }
  .MainContainer2
  {
    margin-top: 300px;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: auto;

  }
  .ecriture
  {
    color: grey;
    font-size: 15px;
    font-family: monospace;
    }
    .ContainerPhotos{
      position: absolute;
      left: 0;
      width: 50%;
      overflow: visible;
      
    }
    .ContainerPhoto1
    {
      position: absolute;
    left: 0;
    width: 50%;
    overflow: visible;
    }
      .navbar {
        overflow: hidden;
        font-family: Arial;
      }
      
      /* Links inside the navbar */
      .navbar a {
        float: left;
        font-size: 16px;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      /* The dropdown container */
      .dropdown {
        float: left;
        overflow: hidden;
      }
      
      /* Dropdown button */
      .dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: black;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit; /* Important for vertical align on mobile phones */
        margin: 0; /* Important for vertical align on mobile phones */
      }
      
      /* Add a red background color to navbar links on hover */
      .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: grey;
      }
      
      /* Dropdown content (hidden by default) */
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: grey;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      /* Links inside the dropdown */
      .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
      
      /* Add a grey background color to dropdown links on hover */
      .dropdown-content a:hover {
        background-color: #ddd;
      }
      
      /* Show the dropdown menu on hover */
      .dropdown:hover .dropdown-content {
        display: block;
      }

    
      .column {
        width: 100%;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background: white;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 110%;
        font-size: 30px;
        text-align: center;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: darkgrey;
        text-align: center;
        padding: 10px 16px;
        
        text-decoration: none;
      }
      
      li a:hover:not(.active) {
        color: grey;
      }
      
      .active {
        color: black;
      }
    
    
    .column {
      float: left;
      padding: 5px;
    }
    



    /* Clear floats after image containers */
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
    .container {
      width: auto;
      margin-right: auto;
      margin-left: auto;
      padding: 5px solid orange;
      display: grid;
      grid-template-columns: 50% ;
  }
  
  img {
      width: 100%;
    }
    #center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      text-align: center;
    }
    
    .ecriture
    {
      color: white;
      font-size: 20px;
      font-family: monospace;
      
      }
      .petiteEcriture
      {
          color: white;
          font-size: 12px;
          font-family: monospace;
      }
      
      